fit.test_flag = true
fit.engines = cTAKES SBD, OpenNLP Tokenizer, Context Attributes
fit.writers = XML Out

fit.reader = WebAnno XMI Reader
fs.in.xmi = /path/to/CovidNLP/curated

fs.liblinear.model = resources/liblinear/$MODELFILE
fs.liblinear.classmap = resources/attr_class_combined.txt
fs.liblinear.bowmap = $BOWMAP

fs.out.xmi = data/test/out/covidNlp/i2b2-SVM/xmi
fs.out.tsv = data/test/out/covidNlp/i2b2-SVM/tsv
fs.out.features.dir = data/test/out/covidNlp/i2b2-SVM/features
fs.out.features.file = 2010_attr_test.txt

fs.error.xmi = /tmp/featuregen/error_xmi
